{% extends 'base.html' %}
{% block title %}Table{% endblock %}
{% block styles %}
    <style>
        table td{
            --tw-text-opacity: 1 !important;
            color: rgb(100 116 139 / var(--tw-text-opacity)) !important;
         }
        
         /*
         tbody tr:hover > *{
            --tw-bg-opacity: 1 !important;
            background-color: rgb(231 239 255 / var(--tw-bg-opacity)) !important;
         }
         */

         td, th{
            background:transparent !important;
         }
    </style>
    
{% endblock %}
{% block main_content %}

<main class="m-4 mt-5">
    {% for day in days %}
      {% if day.list %}
        <h1 class="text-center tw-text-lg m-4 fw-bold tw-underline tw-underline-offset-8">Absent {{day.label}}</h1>
        <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col" class="tw-border-s-2">#</th>
                <th scope="col">Name</th>
                <th scope="col">Department</th>
                <th scope="col">Telephone</th>
                <th scope="col">Residence</th>
              </tr>
            </thead>
            <tbody class="table-group-divider tw-border-t-slate-300">
              {% for absentee in day.list %}
              <tr class="tw-group">
                <th scope="row" class="group-hover:tw-border-s-proj-yellow tw-border-s-2 row-number">1</th>
                <td>{{absentee.name}}</td>
                <td>{{absentee.department}}</td>
                <td>{{absentee.phone_number}}</td>
                <td>{{absentee.residential_address}}</td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
      {% else%}
        <div class="text-center tw-text-lg m-4 tw-text-slate-500">No absentees {{day.label}}</div>
      {% endif %}

    {% endfor %}
</main>

  <script>
    const tables = document.querySelectorAll('table');
    const number = (table) => {
       const ths = table.querySelectorAll('.row-number');
       ths.forEach((row, index)=>{row.innerHTML = index + 1} )
    };

    tables.forEach((table)=>{
       number(table);
    });
  
  </script>
{% endblock %}